@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@layer base {
:root {
    --base-size: 1rem;
    --scale: 1.25;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
    
    /* colors */
    --lime: #a4ffa2;
    --magenta: #f47dda;
    --magenta50: #f47dda80;
    --white: #ffffff;
    --tan: #cec5b4;
    --teal: #2e6d81;
    --cyan: #7de6f4;
    --black: #050d14;
    --shadow: #050d1480;
    --grey: #adb0c0;
    --gradiant: linear-gradient(180deg, var(--black) 0%, var(--teal) 100%);
    
    /* fonts */
    --sans-serif: "Poppins", sans-serif;
    --serif: "Cormorant Garamond", serif;
    --cursive: "Pacifico", "cursive";
  }
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: var(--serif);
    font-weight: 300;
    line-height: 1.75;
    background: var(--gradiant) no-repeat fixed;
    color: var(--white);
    font-size: var(--base-size);
    margin: 0;
    padding: 0;
  }
  p {
    margin-bottom: 1rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 3rem 0 1.38rem;
    font-weight: 300;
    line-height: 1.3;
  }
  h1, .h1 {
    font-size: var(--h1);
  }
  h2, .h2 {
    font-size: var(--h2);
  }
  h3, .h3 {
    font-size: var(--h3);
  }
  h4, .h4 {
    font-size: var(--h4);
  }
  h5, .h5 {
    font-size: var(--h5);
  }
  h6, .h6 {
    font-size: var(--h6);
  }
  a {
    color: var(--lime);
  }
  a:hover {
    color: var(--cyan);
    text-decoration: none;
  }
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  main {
    margin-bottom: 4rem;
  }
  figure {
    margin: 0;
    padding: 0;
  }
  blockquote {
    margin: 0;
    padding: 0;
  }
  cite {
    font-style: normal;
    display: block;
    margin-top: -3px;
  }
  footer {
    margin-top: 5rem;
    text-transform: uppercase;
  }
}
@layer header-banner {
  .wrapper {
    margin: 0 auto;
    max-width: 375px;
  }
  header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  }
  header img {
    max-width: 150px;
  }
}
@layer tour {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  main > h1 {
    font-family: var(--cursive);
    font-size: var(--h1);
    text-align: center;
    grid-area: 1 / 1 / 2 / 3;
    margin-bottom: 2rem;
  }
  .button-primary {
    text-transform: uppercase;
    border: var(--magenta) 2px solid;
    padding: 1rem 2rem;
    color: var(--magenta);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    white-space: nowrap;
    width: 170px;
  }
  .button-primary:hover {
    border-color: var(--cyan);
    color: var(--cyan);
  }
  .button-soldout {
    border-color: var(--magenta50);
    color: var(--magenta50);
    background: linear-gradient(to top right, transparent calc(50% - 2px), var(--magenta50), transparent calc(50% + 2px));
    pointer-events: none;
  }
  p:has(.club){
    font-family: var(--sans-serif);;
  }
  /* we could use main p:nth-child(odd) selector */
  p:has(a){
    font-family: var(--sans-serif);
    justify-self: end;
    align-self: center;
  }
  .date {
    font-family: var(--cursive);
    color: var(--tan);
  }
  .club {
    text-transform: uppercase;
    font-family: var(--serif);
    font-size: var(--h5);
    color: var(--lime);
  }
}
@layer album {
  .album {
    border: var(--cyan) 2px solid;
    max-width: 500px;
    margin: 3rem auto 1rem auto;
    padding: 1rem;
    text-align: center;
  }
  .album h2 {
    font-family: var(--cursive);
    font-size: var(--h6);
    color: var(--white);
    margin: 0;
  }
  .album h1 {
    font-family: var(--serif);
    text-transform: uppercase;
    font-weight: 300;
    font-size: var(--h4);
    color: var(--lime);
    margin: 1rem 0;
  }
}
@layer track-list {
  caption {
    visibility: collapse;
  }
  table {
    max-width: 500px;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: var(--cursive);
  }
  /* th, td {
    padding: 1rem 0;
  }
  th {
    text-align: left;
    font-family: var(--sans-serif);
    border-bottom: 1px solid var(--grey);
    color: var(--grey);
  } */
  th {
    font-family: var(--sans-serif);
    color: var(--grey);
    text-align: left;
    padding: 1rem 0;
    border-bottom: 1px solid var(--grey);
  }
  td {
    padding: 1rem 0;
  }
  /* table tr td:nth-child(3)  */
  td:last-of-type{
    font-size: var(--serif);
    color: var(--magenta);
    font-weight: 600;
  }
}
@layer footer {
  footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }
  footer ul:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }
  footer ul:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  footer ul li {
    list-style: none;
    text-align: center;
  }
  footer svg {
    fill: var(--lime);
  }
  footer svg:hover {
    fill: var(--cyan);
  }
}
@media (min-width: 800px) {
  .wrapper {
    max-width: 800px;
    padding: 2rem;
  }
}
@media (min-width: 1025px) {
  .wrapper {
    max-width: 1200px;
  }
}
